@use "../../styles/partials/mixins" as *;

.signup {
    padding: 2rem 1rem;
    min-height: 100vh;
    background: linear-gradient(to bottom, #05031D 55%, #C0AAD3 100%);
    width: 100%;
    @include tablet {
      padding: 3rem 5rem;
    }
    &__title {
        color: #FFF;
    }
}

.form {
    background-color: #FFF;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    &__group {
        display: flex;
        flex-direction: column;
    }
    &__label {
        margin-bottom: 0.5rem;
    }
}

