.tracksview {
  background: linear-gradient(to bottom, #05031d 55%, #c0aad3 100%);
  width: 100%;
  padding: 2rem 1rem;
  min-height: 100vh;
  &__waveform {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
  }
  &__heading {
    color: #fff;
  }
  &__image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 0.65rem;
  }
  &__selected {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    border-radius: 2px;
  }
  &__details-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.5rem;
  }
  &__details {
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e1e1;
  }
  &__content {
    margin: 0;
    font-size: 11px;
  }
  &__title {
    margin: 0;
    width: 33%;
    font-size: 14px;
    font-weight: 600;
  }
}

.stems {
  &__title {
    margin: 1rem 0 0 0;
    font-size: 1.25rem;
  }
  &__files-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  &__file {
    font-size: 0.85rem;
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 1px solid #F1F1F1;
    border-radius: 3px;
    text-decoration: none;
    color: #05031d;
  }
}

a {
  text-decoration: none;
}